

p {
  text-align:center;
}

h3 {
  text-align: center;
}

nav a:hover {
  color: green !important;
}

.nav {
  position:sticky;
  top: 0;
  z-index:100;
}

.titles {
  color:white;
  background-color: #6495ED;
  border-radius: 10px;
  margin-left: 60px;
  margin-right:60px;

}

.intro {
  margin-bottom: 90px;
  display:flex;
  flex-direction:row;
  height:400px;
}

.photo1 {
  display:flex;
  flex: 1;
  justify-content: flex-end;
}

.hi {
  display:flex;
  flex:1.4;
  justify-content: center;
  align-items:center;
  background-color: #6495ED;
  color:white;
}

.aboutme {
  display:flex;
  justify-content:space-around;
  flex-direction:row;
  align-items:center;
  margin-left: 60px;
  margin-right:60px;
  border: 3px solid #6495ED;
  border-radius: 10px;
  padding:40px;
}

.photo2 {
  display:flex;
  flex:1.1;
  justify-content:center;
}

.presentation {
  display:flex;
  flex:1;
  justify-content:center;
  text-justify: justify;
}

.aboutme,
.contactme{
  margin-bottom: 90px;
  margin-top: 15px;
}


.experience {
  display:flex;
  flex-direction:row;
  margin-left: 60px;
  margin-right:60px;
  border: 3px solid #6495ED;
  border-radius: 10px;
  padding:40px;
  margin-bottom: 90px;
}

.certifications {
  display:flex;
  flex-direction:column;
}

.college {
  display:flex;
  margin-right: 100px;
}

.exp {
  display:flex;
  flex-direction: row;
  padding:30px;
}

.certificate {
  display:flex;
  flex:0.4;
}

.explanation {
  display:flex;
  flex:1;
}


.blocks {
  padding:40px;
  margin-bottom: 150px;
  margin-left: 60px;
  margin-right:60px;
  margin-top:15px;
  border: 3px solid #6495ED;
  border-radius:10px;
}

.first-block {
  margin-bottom:70px;
}

.first-block,
.second-block {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

.projects {
  display:flex;
  flex-direction: column;
}

.description {
  display:flex;
  justify-content: center;
  flex-direction:column;
  background-color: #F5F5F5;
  padding: 10px;
  align-items: center;
}

.boxes {
  display:flex;
  height: 280px;
  width:280px;
  align-items:center;
  justify-content: center;
}

.text {
  margin-top: 50px;
  margin-bottom: 70px;
}

.portfolio {
  margin-bottom: 150px;
}

.knowledge {
  border: 3px solid #6495ED;
  border-radius:10px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top:15px;
  padding:40px;
}

.bar {
  display:flex;
  flex-direction:row;
}

.icons {
  display:flex;
  flex:0.4;
}


.progress {
  display:flex;
  flex:1;
  background-color: white;
  width: 100%;
  margin-bottom: 50px;
}

.block-one {
  background-color: #6495ED;
  display:flex;
  justify-content: center;
  align-items:center;
  padding-top: 30px;
  margin-top: 150px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.block-two {
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  background-color: #6495ED;
  padding-top:100px;
  text-align: center;
}

.block-three {
  display:flex;
  align-items:center;
  justify-content: space-around;
  flex-direction:row;
  background-color: #6495ED;
  padding: 100px;
}

@media only screen and (max-width:960px) {
  .first-block,
  .second-block,
  .aboutme,
  .experience,
  .intro {
    flex-direction: column;
    align-items:center;
  }
  .college {
    justify-content:center;
    margin-right:0px;
  }
  .boxes {
    margin-top: 30px;
    margin-bottom:30px;
  }
  .annuario {
    width:600px;
    height:500px;
  }
  .presentation {
    margin-top: 30px;
  }
}
